.breadcrumbs {

	margin-top: 17px;

	// .breadcrumbs__link

	&__link {
		
		color: #868686;

		font-size: 0.875rem;
		line-height: 185.714286%;

		transition: color .15s ease;

		&:hover {
			color: var(--accent);
		}
		
		&:active {
			color: var(--accent-active);
		}
	}

	// .breadcrumbs__separator

	&__separator {
		padding: 0 5px;
	}

	// .breadcrumbs__current

	&__current {
		font-size: 0.875rem;
		line-height: 185.714286%;
	}
}
